#root {
  width: 100%;
}

.container {
  background-color: rgb(50, 216, 199);
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 3px;
  border: 1px solid rgb(38, 177, 163);
  gap: 40px;
  height: 90vh;
  font-size: 25px;
  box-shadow: 1px 1px 5px rgb(17, 17, 17);
}

body {
  background-image: url("./assets/background1.png");
  background-size: cover;
  background-position: center;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat", cursive;
}

button {
  width: fit-content;
  border-radius: 10px;
  border: 3px solid rgb(84, 202, 84);
  padding: 3px 8px;
  background-color: rgb(139, 214, 133);
  font-size: 19px;
  transition: transform 0.2s ease;
  box-shadow: 1px 1px 5px rgb(17, 17, 17);
  font-family: "Fredoka", sans-serif;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: rgb(117, 231, 102);
}

.playerBar ul {
  display: flex;
  gap: 16px;
  font-size: 25px;
}

.playerBar {
  align-self: flex-start;
  margin-top: auto;
  padding: 1%;
}
